    <div class="panel">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Javier Segura</h4>
        </div>
        <div class="panel-body">
        	<p>Developer. System Administrator. Geek</p>
            <a href="https://github.com/{{ .Site.Params.Github }}/" class="btn-default"><i class="fa fa-github"></i> @{{ .Site.Params.Github }}</a><br/>
            <a href="https://twitter.com/{{ .Site.Params.Twitter }}/" class="btn-default"><i class="fa fa-twitter"></i> @{{ .Site.Params.Twitter }}</a>
        </div>
    </div>